<!DOCTYPE html>
<html>
<head>
  <title>ActsAsMetatags</title>
  <%= stylesheet_link_tag    "acts_as_metatags/application", :media => "all" %>
  <%= javascript_include_tag "acts_as_metatags/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
